footer {
    height: 250px;
    background-color: rgb(122, 110, 86);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px -5px 50px #807f7f; 
    margin-top: 50px;

}
    
    
footer h3 {
      background-color: rgb(110, 100, 78);
      margin-top: 20px;
      padding: 20px;
      color: white;
      font-weight: 200;
      font-size: small;
      /* box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.2);  */
    }

footer h3 a {
    font-weight: 500; 
    }
    
footer section {
      display: flex;
      margin-top: 20px;
      justify-content: space-around; 
    }

footer .footer_paginas {
      display: flex;
      flex-direction: column; 
    }

footer .footer_paginas h3 {
        font-weight: 600;
        font-size: larger;
        margin: 0 0 10px 0;
        padding: 0;
        background-color: rgb(122, 110, 86);
        box-shadow: 0 0 0; 
    }

footer .footer_paginas a {
        margin-top: 20px;
        color: white;
        text-decoration: none; 
    }

    
footer .footer_redes {
      display: flex;
      flex-direction: column; 
    }

      
      
footer .footer_redes h3 {
        font-weight: 600;
        font-size: larger;
        margin: 0 0 10px 0;
        padding: 0;
        background-color: rgb(122, 110, 86);
        box-shadow: 0 0 0; 
    }

      
      
footer .footer_redes a {
        margin-top: 20px;
        color: white;
        text-decoration: none;
        display: flex; 
    }

    
    
footer img {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      filter: invert(1); 
    }